<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlinePayment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CachingServlet</display-name>
    <servlet-name>CachingServlet</servlet-name>
    <servlet-class>com.ccoew.onlinepayment.cachingservlet.CachingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CachingServlet</servlet-name>
    <url-pattern>/CachingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServicesServlet</display-name>
    <servlet-name>CartServicesServlet</servlet-name>
    <servlet-class>com.ccoew.onlinepayment.cartservicesservlet.CartServicesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServicesServlet</servlet-name>
    <url-pattern>/CartServicesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditOrProceedServlet</display-name>
    <servlet-name>EditOrProceedServlet</servlet-name>
    <servlet-class>com.ccoew.onlinepayment.editorproceedservlet.EditOrProceedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditOrProceedServlet</servlet-name>
    <url-pattern>/EditOrProceedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreditCardTypeCheckServlet</display-name>
    <servlet-name>CreditCardTypeCheckServlet</servlet-name>
    <servlet-class>com.ccoew.onlinepayment.creditcardtypecheckservlet.CreditCardTypeCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreditCardTypeCheckServlet</servlet-name>
    <url-pattern>/CreditCardTypeCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreditCardDetailsServlet</display-name>
    <servlet-name>CreditCardDetailsServlet</servlet-name>
    <servlet-class>com.ccoew.onlinepayment.creditcarddetailsservlet.CreditCardDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreditCardDetailsServlet</servlet-name>
    <url-pattern>/CreditCardDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDetailsServlet</display-name>
    <servlet-name>UserDetailsServlet</servlet-name>
    <servlet-class>com.ccoew.onlinepayment.userdetailsservlet.UserDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetailsServlet</servlet-name>
    <url-pattern>/UserDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPurchasesServlet</display-name>
    <servlet-name>ViewPurchasesServlet</servlet-name>
    <servlet-class>com.ccoew.onlinepayment.viewpurchasesservlet.ViewPurchasesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPurchasesServlet</servlet-name>
    <url-pattern>/ViewPurchasesServlet</url-pattern>
  </servlet-mapping>
</web-app>